div.home(ng-controller="HomeController as ctrl",
         layout="column", layout-fill)

    include components/toolbar

    md-content.quotes.md-padding
        md-list
            md-item.quote(ng-repeat="quote in quotes track by quote.id")
                md-item-content
                    div.md-tile-left
                        img.avatar(src="{{ quote.author_user.avatar_url }}",
                                   alt="{{ quote.author_user.full_name }}",
                                   title="{{ quote.author_user.full_name }}")
                    div.md-tile-content
                        h3.quote(ng-bind="quote.quote|nl2br")
                        p.explanation(ng-bind="quote.explanation|nl2br")
                    div.md-tile-right
                md-divider

    md-button.md-primary.md-fab.md-fab-bottom-right
        | +
