div.login(ng-controller="LoginController as ctrl", layout="column", layout-align="center center")
    h1 kQuotes

    md-content
        div
            p Hi buddy, first of all you have to...

        form(layout="column", layout-align="center", ng-submit="ctrl.submitLogin()")
            md-text-float(label="type your username", type="text", ng-model="username", required)

            md-text-float(label="type your password", type="password", ng-model="password", required)

            md-button.md-primary.md-raised
                | Login
