h1 kQuotes

md-content.login
    div
        p Hi buddy, first of all you have to...

    form(layout="column", layout-align="center")
        md-text-float(label="type your mail", type="email", required)

        md-text-float(label="type your password", type="password", required)

        md-button.md-primary.md-raised
            | Login
